MASTER_HOST=192.168.69.2
MASTER_KEY=*****************************************************************
MASTER_REPLICATION_TASKS=replicateSpinningRust,autoReplicateTheVault

SLAVE_HOST=192.168.69.4
SLAVE_KEY==*****************************************************************
SLAVE_REPLICATION_TASKS=localVMs/localVMs - fivehundred/localVMs,ReplicateDatabaseBackups

POLLING_RATE=300

MQTT_HOST=192.168.69.5
MQTT_USER=eden
MQTT_PASSWORD=***********
SLAVE_PLUG_FRIENDLYNAME=TasmotaBackup
