MASTER_HOST=192.168.69.2
MASTER_KEY=*****************************************************************
MASTER_REPLICATION_TASKS=replicateSpinningRust,autoReplicateTheVault

SLAVE_HOST=192.168.69.4
SLAVE_KEY==*****************************************************************
SLAVE_USERNAME=************
SLAVE_PASSWORD=***************
SLAVE_REPLICATION_TASKS=localVMs/localVMs - fivehundred/localVMs,ReplicateDatabaseBackups
SLAVE_SCRUB_POOLS=fivehundred,localVMs,chud

POLLING_RATE=300

MQTT_HOST=192.168.69.5
MQTT_USER=eden
MQTT_PASSWORD=***********
SLAVE_PLUG_FRIENDLYNAME=TasmotaBackup

GIVE_UP_AFTER_HOURS=12
